.header {
  max-width: 1600px;
  border-bottom: 1px solid #ececec;
}

/* Site nav */
.header-container {
  display: flex;
  align-items: center;
  padding: 0px 15px;
}
.header-nav {
  display: flex;
  align-items: center;
}
.site-nav {
  display: flex;
  align-items: center;
}
.header-item {
  margin-right: 50px;
}
.header-item:first-child {
  margin-left: 93px;
}
.contact-item {
  margin-left: 50px;
  padding-top: 32px;
  padding-bottom: 32px;
}
.contact-item:first-child {
  margin-left: 0;
}
.contact {
  display: flex;
  margin-left: auto;
  align-items: center;
}
.site-nav .link.current {
  position: relative;
  padding: 32px 0px;
  color: var(--accent-color);
}
.site-nav .link.current::after {
  position: absolute;
  bottom: -3px;
  left: 0px;
  content: "";
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
  opacity: 1;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav .link {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  text-decoration: none;
  display: block;

  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.contact .link {
  display: inline-flex;
  align-items: center;
  color: var(--primary-text-color);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-icon {
  margin-right: 10px;
  fill: var(--primary-text-color);
}
.contact .link:hover,
.contact .link:focus {
  color: var(--accent-color);
}
.contact .link:hover .contact-icon,
.contact .link:focus .contact-icon {
  fill: var(--accent-color);
}
.nav-logo {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #000000;
  text-decoration: none;
  display: block;
}
.web {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--accent-color);
  text-decoration: none;
}
