.team-socials {
  display: flex;
  padding: 16px 32px 30px 32px;
}
.socials {
  margin-right: 10px;
}
.social-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: var(--secondary-text-color);
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover,
.social-link:focus {
  background-color: var(--accent-color);
  fill: var(--secondary-text-color);
}
.social-link:hover .social-icon,
.social-link:focus .social-icon {
  fill: var(--secondary-text-color);
}
.social-icon {
  fill: var(--fill-icon-social);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
