:root {
  --primary-text-color: #757575;
  --secondary-text-color: #ffffff;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --background-hero: #2f303a;
  --background-footer: #2f303a;
  --background-ourteam: #f5f4fa;
  --fill-icon-social: #afb1b8;
}
